.card {
    height: 100vh;
    width: 100vw;
    padding: $ratio8;
    display: grid;
    place-items: center;
    flex-shrink: 0;

    h3 {
        padding-top: $ratio4;
        color: $color-white;
        transition: 0.3s all ease;
    }

    p {
        padding-top: $ratio4;
        color: $color-white;
    }

    &:nth-child(1) {
        background-color: rgb(64, 142, 169);
    }
    &:nth-child(2) {
        background-color: rgb(49, 92, 89);
    }
    &:nth-child(3) {
        background-color: rgb(147, 50, 176);
    }
    &:nth-child(4) {
        background-color: rgb(169, 125, 64);
    }
}
