.box {
    height: 20px;
    width: 20px;

    &.green {
        background-color: lightgreen;
    }

    &.blue {
        height: 80px;
        width: 80px;
        background-color: blue;
    }

    &.purple {
        height: 200px;
        width: 200px;
        border-radius: 20px;
        background-color: purple;
    }
}
