@keyframes move-text {
    0% {
        transform: rotate(20deg);
        bottom: -0.2em;
        opacity: 0;
    }

    40% {
        transform: rotate(4deg);
        bottom: 0.2em;
        opacity: 0.4;
    }

    70% {
        transform: rotate(2deg);
        bottom: -0.05em;
        opacity: 0.6;
    }

    90% {
        transform: rotate(0deg);
        bottom: 0.02em;
        opacity: 0.8;
    }

    100% {
        transform: rotate(0deg);
        bottom: 0;
        opacity: 1;
    }
}

.split-text span {
    padding: 0 2px;
    position: relative;
    display: inline-block;
    opacity: 0;
}

.animated span {
    animation: move-text 1s ease-in-out forwards;
}
