@keyframes move-text {
    0% {
        transform: rotate(25deg);
        bottom: -0.3em;
        opacity: 0;
    }

    50% {
        bottom: 0.3em;
        opacity: 0.2;
    }

    100% {
        transform: rotate(0);
        bottom: 0;
        opacity: 1;
    }
}

.split-text span {
    padding: 0 2px;
    position: relative;
    display: inline-block;
    opacity: 0;
}

.animated span {
    animation: move-text 0.6s ease forwards;
}
