@keyframes move-text {
    0% {
        bottom: -0.2em;
        opacity: 0;
    }

    50% {
        bottom: 0.2em;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.split-text span {
    padding: 0 $ratio1;
    position: relative;
    display: inline-block;
    opacity: 0;
}

.split-text span:nth-child(2n) {
    color: lightseagreen;
}
.split-text span:nth-child(3n) {
    color: orange;
}
.split-text span:nth-child(4n) {
    color: dodgerblue;
}
.split-text span:nth-child(5n) {
    color: blueviolet;
}

.animated span {
    animation: move-text 0.6s ease forwards;
}
