<!-- HEADER -->

{% include "_partials/_header.html" with {title: 'GSAP testing'} %}

<!-- sections -->

<section class="section hero">
    <div class="wrapper">
        <div class="box green"></div>
        <div class="box blue"></div>
        <div class="box purple"></div>
    </div>
</section>

<section class="section presentation">
    <div class="wrapper">
        <h1 data-scrolly data-split-text class="split-text">Un gros titre</h1>
    </div>
</section>

<section class="section boxes">
    <div class="wrapper">
        <div class="box white"></div>
        <div class="box red"></div>
        <div class="box orange"></div>
    </div>
</section>

<section class="main-content">
    <section class="section">
        <div class="wrapper">
            <h1>Scrolling vertical</h1>
            <p>
                Le scrolling vertical est le comportement attendu chez l'utilisateur lorsqu'il navigue sur une page web, mais quand est-il lorsqu'on change ce
                comportement?
            </p>
        </div>
    </section>

    <section class="section">
        <div class="wrapper">
            <h1>Voici un scrolling horizontal</h1>
        </div>
    </section>
    <section class="section cards" id="horizontal">
        <div class="card">
            <div class="wrapper">
                <h3>Carte 1</h3>
                <p>Contenu 1</p>
            </div>
        </div>
        <div class="card">
            <div class="wrapper">
                <h3 data-scrolly data-split-text class="split-text">Carte 2</h3>
                <p>Contenu 2</p>
            </div>
        </div>
        <div class="card">
            <div class="wrapper">
                <h3>Carte 3</h3>
                <p>Contenu 3</p>
            </div>
        </div>
        <div class="card">
            <div class="wrapper">
                <h3>Carte 4</h3>
                <p data-scrolly data-split-text class="split-text">Contenu 4</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="wrapper">
            <h1>Fin du scroll horizontal</h1>
            <p>Wow c'était trop cool!</p>
        </div>
    </section>
</section>

<!-- FOOTERS -->

{% include "_partials/_footer.html" %}
